<h1 mat-dialog-title>일정 {{editMode === 'CREATE' ? '만들기' : '수정하기'}}</h1>
<div mat-dialog-content>
  <mat-form-field class="title-input">
    <input matInput
           [(ngModel)]="title"
           placeholder="일정 제목을 입력하세요">
  </mat-form-field>

  <div class="picker-container">
    <div class="date-info-wrapper">
      <mat-form-field class="datepincker-input">
        <input matInput
               [matDatepicker]="startDatepicker"
               [(ngModel)]="startDate"
               (dateChange)="startDateChanged($event)"
               placeholder="시작 날짜">
        <mat-datepicker-toggle matSuffix
                               [for]="startDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #startDatepicker></mat-datepicker>
      </mat-form-field>
      <div class="class-select-wrapper">
        <p>시작 시간</p>
        <div class="form-selector" [matMenuTriggerFor]="startTimeMenu">
          <span>{{startTime.format('A hh:mm')}}</span>
        </div>

        <mat-menu class="selector-menu"
                  #startTimeMenu="matMenu"
                  [overlapTrigger]="false">
          <div class="selector-menu-item"
               *ngFor="let hourItem of hoursArr"
               (click)="startTimeChanged(hourItem)">
            <div>{{hourItem.format('A hh:mm')}}</div>
          </div>
        </mat-menu>
      </div>
    </div>

    <div class="date-info-wrapper">
      <mat-form-field class="datepincker-input">
        <input matInput
               [matDatepicker]="endDatePicker"
               [(ngModel)]="endDate"
               (dateChange)="endDateChanged($event)"
               placeholder="종료 날짜">
        <mat-datepicker-toggle matSuffix
                               [for]="endDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #endDatePicker></mat-datepicker>
      </mat-form-field>
      <div class="class-select-wrapper">
        <p>종료 시간</p>
        <div class="form-selector" [matMenuTriggerFor]="endTimeMenu">
          <span>{{endTime.format('A hh:mm')}}</span>
        </div>

        <mat-menu class="selector-menu"
                  #endTimeMenu="matMenu" y-position="below"
                  [overlapTrigger]="false">
          <div class="selector-menu-item"
               *ngFor="let hourItem of hoursArr"
               (click)="endTimeChanged(hourItem)">
            <div>{{hourItem.format('A hh:mm')}}</div>
          </div>
        </mat-menu>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button
          (click)="close()">닫기
  </button>
  <button mat-button
          *ngIf="editMode === 'CREATE'"
          (click)="create()">저장
  </button>

  <button mat-button
          *ngIf="editMode === 'UPDATE'"
          (click)="update()">수정
  </button>
  <button mat-button
          *ngIf="editMode === 'UPDATE'"
          (click)="delete()">삭제
  </button>
</div>
