@import '../../../theme/function';

.month-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .top-display-wrapper {
    width: 100%;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    span:first-child {
      color: #ff425e;
    }
    span {
      width: calc(100% / 7);
      font-size: 14px;
      text-align: center;
    }
    span:last-child {
      color: #138cfe;
    }
  }
  .month-wrapper {
    width: 100%;
    background: #ffffff;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #e0e0e0;
    .day-panel {
      width: calc(100% / 7);
      min-height: vw(120);
      box-sizing: border-box;
      padding-top: vw(10);
      padding-left: vw(10);
      padding-bottom: vw(10);
      background-color: #ffffff;
      border: 1px solid #e0e0e0;
      cursor:pointer;
      .events-area {
        width: vw(200);
        margin-top: vw(10);
        background-color: #FFEB00;
        padding-left: vw(5);
        padding-top: vw(10);
        padding-bottom: vw(10);
        border-radius: 5px;
        .event-title {
          display: flex;
          align-items: center;
          margin: 0;
          color: #333333;
          font-size: vw(13);
          font-weight: 600;
          cursor: pointer;
          i.material-icons {
            font-size: vw(12);
            margin-right: vw(4);
          }
        }

      }
    }
  }
}

.week-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .top-display-wrapper {
    width: 100%;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    div {
      width: calc(100% / 8);
      font-size: 16px;
      text-align: center;
      p {
        margin: 0;
        &:last-child {
          font-size: 14px;
          letter-spacing: 2px;
        }
      }
    }

    div:nth-child(2) {
      p:first-child {
        color: #ff425e;
      }
    }

    div:last-child {
      p:first-child {
        color: #138cfe;
      }
    }
  }

  .week-hour-wrapper {
    display: flex;
    flex-direction: row;
    .week-panel {
      display: flex;
      background: #ffffff;
      .hour-display-area {
        display: flex;
        flex-direction: column;
        .hour-display-item {
          width: vw(199.8);
          height: vw(120);
          display: flex;
          justify-content: center;
          box-sizing: border-box;
          padding-top: vw(10);
          border: 1px solid #e0e0e0;
          color: lightslategray;
        }
      }
    }

    .hour-panel {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      background: #ffffff;
      .hour-area {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        .hour-item {
          width: vw(198);
          height: vw(120);
          display: flex;
          justify-content: center;
          box-sizing: border-box;
          border: 1px solid #e0e0e0;
          .active-event {
            width: vw(188);
            height: vw(105);
            display: flex;
            justify-content: center;
            align-items: center;
            margin: vw(5);
            border-radius: 5px;
            background: #FFEB00;
            color: #333333;
            font-size: vw(18);
            font-weight: 600;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.example-container {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.example-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
