<div class="control-calendar">
  <div class="display-container">
    <button mat-icon-button
            (click)="prevClicked()">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <div class="date-wrapper"
         *ngIf="toggleValue === 'month'">
      <span>{{currentYear}}</span>년
      <span>{{currentMonth}}</span>월
    </div>

    <div class="date-wrapper"
         *ngIf="toggleValue === 'week'">
      <span>{{currentStartYear}}</span>년
      <span>{{currentStartMonth}}</span>월
      <span>{{currentStartWeek}}</span>일 ~

      <span>{{currentEndYear}}</span>년
      <span>{{currentEndMonth}}</span>월
      <span>{{currentEndWeek}}</span>일
    </div>
    <button mat-icon-button
            (click)="nextClicked()">
      <mat-icon>arrow_forward_ios</mat-icon>
    </button>
  </div>
  <div class="toggle-container">
    <mat-button-toggle-group #group="matButtonToggleGroup" value="{{calendarService.getToggleValue()}}">
      <mat-button-toggle (click)="toggleMonthWeek('month')"
                         value="month">월</mat-button-toggle>
      <mat-button-toggle (click)="toggleMonthWeek('week')"
                         value="week">주</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>
